[class^="project-item-"] {
  background-color: rgba($color-box-bg, 0.6);
  font-size: 1.4rem;
  padding: 1rem;
  max-width: 23%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  transition: transform 0.3s;

  @include respond(tab-port) {
    min-width: 85%;
    max-width: 85%;
    margin: 1rem;
  }

  .photo:hover {
    transform: translateY(0.5rem) scale(1.07);
    transition: transform 0.3s;
  }
}
.project-item-3 {
  background-color: $color-text-dark;
  color: $color-blue-1;
  padding: 3rem;
}
