.order {
  font-family: trajan-pro-3, serif;
  text-align: center;
  background-color: #163359;
  color: cyan;
  border: 7px solid #3d0ce8;
  margin: 6px;
}

fieldset {
  border: 3px solid #8435f2;
  border-radius: 4%;
  color: #0ad8d8;
  margin: 25px;
}

fieldset.size {
  background-color: rgb(21, 0, 41);
}

fieldset.base {
  background-color: #0c1335;
}

fieldset.all-toppings {
  background-color: #131e46;
}

legend {
  text-align: left;
}

h1 {
  font-size: 45px;
  text-shadow: 13px 16px 16px rgba(21, 0, 41, 1);
}
h2 {
  color: cyan;
  text-emphasis: initial;
}

h3 {
  color: #4c53ff;
}

.container-size,
.container-sauce,
.container-crust-B {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 3%;
}

.container-meat,
.container-veg,
.container-cheese,
.container-crust-A {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

button {
  background-color: #0c1335;
  border-color: #0c3142;
  color: #0d75ff;
  font-family: trajan-pro-3, serif;
  font-size: 12px;
  margin: 0 5px 20px auto;
  height: 44px;
  width: 80px;
  border-radius: 4%;
}

button:hover,
input:hover {
  background-color: rgb(57, 69, 140);
  color: #3d0ce8;
  font-weight: bold;
  border: 3px solid #0000ff;
}

/*
#total *{
  color: #04c6f2;
  font-weight: bolder;
  font-size: 18px;
}*/
