$color-fade-A: #dda8b5;
$color-fade-B: #91a0a5;
$color-box-bg: #f2f1f0;
$color-blue-1: #001b2d;
$color-blue-2: #1c384d;
$color-blue-3: #295072;
$color-blue-4: #5c89a5;
$color-orange-1: #5a142a;
$color-orange-2: #8f1d2c;
$color-footer: #484149;

$color-text-dark: #4b4d5e;
$color-text-light: #d1d4d4;

$color-grey: #777;
$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
